@model IEnumerable<TP_Labo4_Final.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>
<form method="get">
    <div class="row mb-2">
        <div class="col-md-8">
            <input type="text" name="searchString" class="form-control" placeholder="Buscar cliente..." />
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </div>
</form>
<p>
    <a asp-action="Create">Cargar nuevo cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
